/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 1em;
}
.main-frame {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 6% 2% 2%;
}

.display-frame {
    height: 60%;
    width: 100%;
    margin: 0;
    padding: 0%;
}
.entry-frame {
    height: 40%;
    width: 100%;
    background: linear-gradient(silver, gray);
    margin: 0;
    padding: 0%;
}
.map-frame {
    height: 100%;
    width: 90%;
    margin: 0;
    background: linear-gradient(silver, gray);
    padding: 1%;
}
#map {
    height: 100%;
    width: 100%;
}
.zoom-frame {
    height: 100%;
    width: 10%;
    margin: 0;
    background: linear-gradient(silver, gray);
    padding: 1%;
}

#map2 {
    height: 100%;
    width: 100%;
}


.entry-box {
    height: 100%;
    width: 50%;
    /*background: cyan;*/
    padding: 1%;

}

.instruction-frame {
    width: 30%;
    height: 100%;
    margin:0;
    padding:0;
    /*background:pink;*/
}

.selection-frame {
    width: 70%;
    height: 100%;
    background: linear-gradient(silver, gray);
    margin:0;
    padding:0;
}
.search-drop{
    all:none;
}